$info: #83B4FF;
$info-light: #aaccff;
$info-extra-light: #d2e3fd;
$success: #a3ff8b;
$success-light: #c5fdb7;
$success-dark: #87F085;
$error: #FF7B7B;
$error-light: #ffa3a3;
$error-extra-light: #fdc7c7;
$text-color: #232323;
$text-success: #008C1F;
$text-error: #D40F0F;